apiVersion: v1
kind: Pod
metadata:
  name: application-probe
spec:
  containers:
    - name: nginx
      image: nginx:latest
      ports:
        - containerPort: 5000
      volumeMounts:
        - name: nginx-conf
          mountPath: /etc/nginx/conf.d
      startupProbe:
        httpGet:
          path: /started
          port: 5000
        initialDelaySeconds: 5
        periodSeconds: 5
      livenessProbe:
        httpGet:
          path: /health
          port: 5000
        initialDelaySeconds: 5
        periodSeconds: 5
  volumes:
    - name: nginx-conf
      configMap:
        name: probe-config
