apiVersion: v1
kind: Pod 
metadata: 
  name: applicaton-probe 
spec: 
  containers:
    - name: nginx
      image: nginx:latest
      startupProbe: 
        httpGet: 
          path: /started 
          port: 5000
        initialDelaySeconds: 10
      livenessProbe:
        httpGet: 
          path: /health
          port: 5000
        initialDelaySeconds: 10